*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom,#047F74 20%, #CFCECA 20% 100%);
    height: 100vh;
}

img{
    border-radius: 50%;
}

.big_container{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.font-10 a {
    color: grey;
}

.user_name{
    vertical-align: 10px;
}

.name{
    font-size: 14px;
}

.user_container{
    width: 33.333%;
    /* height: 500px; */
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
}

.chat_container{
    width: 66.666%;
    height: 600px;
    background-image: url("../img/mine.jpg");
    
}

.top-bar{
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
}
/* .user{
    border-right: 1px solid #B1B1B1;
} */

.notification-bar{
    background-color: #8CD2F2;
    height: 60px;
}

.contact{
    border-top: 1px solid #B1B1B1;
}

.search_bar{
    padding: 5px;
}

.search_bar input{
    padding: 5px;
    min-width: 280px;
    border: 1px solid #B1B1B1;
    font-size: 10px;
}
span.search_icon {
    border: 1px solid #B1B1B1;
    padding: 5px 17px;
    border-right: none;
    font-size: 10px;
}
.contact img{
    height: 50px;
}

.current_user img,.user_details img{
    height: 40px;
}
.last_message,.last_view{
    color:#B1B1B1;
    font-size: 10px;
}
.last_view{
    padding-left: 50px;
}
.actions i {
    margin: 0 10px;
}
.user_message{
    text-align: right;
    background-color:#D4FABD ;
}
.received_message{
    text-align: left;
    background-color: white;
}

.user_message,.received_message{
    border-radius: 14px;
    padding: 10px;
    margin: 5px 0;
}

.chat_display{
    height: calc(100% - 110px);
    overflow-y: scroll;
    
}

.bottom_bar{
    height: 60px;
    background-color: #F3EEEA;   
}

.bottom_bar input{
    padding: 10px ;
    min-width: 500px;
    border: none;
    border-radius: 4px;
}
.bottom_bar i {
    padding: 25px;
}
.time{
    font-size: 8px;
    color: grey;
    position: relative;
    top: 10px;
}
i{
    color: #B1B1B1;
}
i.fa-solid.fa-bell-slash {
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    color: #81CCF0;
}

.hidden_menu{
    height: 50px;
    background-color: white;
    width: 100px;
    font-size: 12px;
    z-index: 1;
    border: 1px solid black;
    /* display: none; */
}

.right{
    left: 70%;
}

.left{
    top: 30px;
}

.user_message:hover .menu_arrow_down,.received_message:hover .menu_arrow_down{
    display: inline;
}

/* .menu_arrow_down:active .hidden_menu{
    display: block;
} */

/* utilities */

.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.text_left{
    text-align: left;
}
.d_flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.align_center{
    align-items: center;
}

.pd_20{
    padding: 20px;
   
}

.overflow_y{
    overflow-y: scroll;
}

.font-10{
    font-size: 10px;
}
.d_block{
    display: block;
}

.d_none{
    display: none;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}