<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
</head>
<body>
    
    <div id="app">
        <div class="background">

            <div class="big_container">
                <div class="user_container">
                    <div class="top-bar user d_flex space_between align_center">
                        <div class="user_details">
                            <img src="img/avatar_io.jpg" alt="mio avatar">
                            <span class="user_name">Sofia</span>
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notification-bar d_flex align_center">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div>
                            <p class="font-10">Ricevi notifiche di nuovi messaggi</p>
                            <span class="font-10"><a href="#">Attiva notifiche desktop</a></span>
                        </div>
                    </div>
                    <div class="search_bar text_center">
                        <span class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchItem" @keyup="filteringContacts()">
                    </div>
    
                    <div class="contact_list overflow_y" v-for="(contact,index) in contacts">
                        <div @click="changeContact(index)" class="contact d_flex space_between" v-show="contact.visible==true">
                            <img :src="contact.avatar" alt="primo avatar">
                            <div class="contact_middle">
                                <h3 class="name">{{contact.name}}</h3>
                                <span class="last_message">Ultimo messaggio inviato</span>
                            </div>
                            <span class="last_view">12:00</span>
                        </div>
                     
                    </div>
                
                </div>
                <div class="chat_container">
                    <div class="top-bar chat d_flex space_between align_center">
                        <div class="current_user d_flex">
                            <img src="img/avatar_1.jpg" alt="primo avatar">
                            <div class="contact_middle">
                                <h5 class="name">Michele</h5>
                                <span class="last_message">Ultimo messaggio inviato</span>
                                <span class="last_view">12:00</span>
                            </div>
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="chat_display">
                        <div class="inner_chat pd_20" v-for="text in contacts[activeChat].messages" >
                            <div class="text_right">
                                <div>

                                    <span class="user_message" v-if="text.status == 'sent'">{{text.message}}<span class="time">{{text.date}} </span> </span>
                                    
                                </div>
                            </div>
    
                            <div  class="text_left">
                                <span class="received_message" v-if="text.status == 'received'">{{text.message}}<span class="time">{{text.date}} </span></span>
                            </div>

                        </div>

                    </div>
                    <div class="bottom_bar d_flex space_between align_center">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="scrivi un messaggio" v-model="newText" @keyup.enter="sendingText"  >
                        <i class="fa-solid fa-microphone"></i>

                    </div>
                </div>
            </div>
        </div>





    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>